.cart-item{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.cart-item-image{
  width: 70px;

}
.cart-item-title{
  font-size: 0.85rem;
  font-weight: 500;
  color:#2C2C2C ;
  margin-bottom: 8px;
}
.cart-item-price{
  font-size: 14px;
  font-weight: 700;
}
.cart-item-content{
  padding: 0 35px 0 10px;
}
.button__remove-item{
  position: absolute;
  top: 0;
  right: 0;
  color:white;
  background-color: black;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  width: 22px;
  border-radius: 50%;
  height: 22px;



}

