
.cart-item{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding: 20px 12px;
  margin-bottom: 20px;
  position: relative;
  background-color: white;
  border-radius: 10px;

}
.cart-item-image{
  width: 70px;

}
.cart-item-title{
  font-size: 0.85rem;
  font-weight: 500;
  color:#2C2C2C ;
  margin-bottom: 8px;
}
.cart-item-price{
  font-size: 14px;
  font-weight: 700;
}
.cart-item-content{
  padding: 0px 10px 0px 14px;
    display: flex;
    align-items: center;
    width: 72%;
    margin-top: 20px;
    gap: 39px;
}

.button__remove-item{
  position: absolute;
  top: 20px;
  right: 10px;
  color:white;
  background-color: black;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  width: 22px;
  border-radius: 50%;
  height: 22px;



}

